on:
 push:
  branches: 
    - main
 workflow_dispatch:
    # Allows you to run this workflow manually from the Actions tab

jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps:
      - name: Print a greeting
        run: echo "Hello World!"
